.wrapper
  = render partial: "shared/header"
  = render partial: "shared/main-menu"
  .body
    .container
      = render partial: "question-top"
      = render partial: "question_form"
      = render partial: "answered"
