= render "shared/main-menu"
.header
  .col-md-1.open-menu
    = image_tag 'menu.png', {class: 'menu-list', id: 'menu_bar_button'}
  .col-md-1.search-box
    = form_tag( method: :get ) do
      = image_tag 'glass.svg', { class: 'glass' }
      = text_field  :body, nil, { placeholder: "検索する", class: "text" }

  .col-md-4.logo
    = link_to "Old PICKS", root_path, { class: 'logo-mark'}

  - if user_signed_in?
    .col-md-2.right-items
      .self
        = image_tag current_user.avatar_image.present? ? current_user.avatar_image : 'user-image.png', class: 'user-image'
        .name-block
          %span.display-name #{current_user.name}
          %span.plan アカデミック
        %span.caret
      .flag
        = image_tag 'flag.png', {class: 'flag-icon', id: 'flag_button'}
      .pick
        = image_tag 'pick.png', {class: 'pick-icon', id: 'pick_button'}

    .user-menu-container
      .nozzle-border
      .nozzle
      .user-menu
        = link_to 'マイピックス', root_path, {class: 'menu-item'}
        = link_to 'ユーザーを探す', root_path, {class: 'menu-item'}
        %hr.border
        = link_to 'アカデミア', root_path, {class: 'menu-item'}
        = link_to '有料サービスについて', root_path, {class: 'menu-item'}
        %hr.border
        = link_to 'ユーザー設定', edit_user_path(current_user), {class: 'menu-item'}
        = link_to 'お問い合わせ', root_path, {class: 'menu-item'}
        = link_to 'ログアウト', destroy_user_session_path, {class: 'menu-item', method: :delete}

    .notification-container
      .nozzle-border
      .notification-header
        .title お知らせ
        .link
          = link_to 'キーワード設定/編集'
      .content
        .nothing-content お知らせはありません

  - else
    .col-md-2.right-items
      .register-or-login-items
      = link_to 'アカウント登録', new_user_registration_path, {class: 'register'}

      = link_to 'ログイン', new_user_session_path, {class: 'login'}

.contents-container
  .page-content-wide
    .setting-menu
      .profile
        .user-icon
          = image_tag current_user.avatar_image.present? ? current_user.avatar_image : 'user-image.png', {class: 'user-icon'}
        .user-name
        #{current_user.name}
        .user-title #{current_user.company.truncate(20)}  #{current_user.position.truncate(20)}
      .setting-items
        %span.menu-header アカウント
        = link_to 'ユーザー情報', edit_user_path(current_user), {class: 'user-menu-item'}
        = link_to 'パスワード設定', edit_user_registration_path(@user), {class: 'user-menu-item'}

        %span.menu-header 有料サービス
        = link_to '登録中のプラン', '#', {class: 'user-menu-item'}

        %span.menu-header 機能設定
        = link_to '非表示コメント', '#', {class: 'user-menu-item'}
        = link_to '外部サービス設定', '#', {class: 'user-menu-item'}
        = link_to 'キーワード設定', '#', {class: 'user-menu-item'}
        = link_to 'メールマガジン購読設定', '#', {class: 'user-menu-item'}
        = link_to '求人応募情報', '#', {class: 'user-menu-item'}
    .setting-container
      .setting-password
        %h1 パスワード設定
        %hr
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = f.hidden_field :reset_password_token
          .user-form
            %label.edit-form 現在のパスワード
            = f.password_field :current_password, autocomplete: "off"
            .forget-passward
            = link_to 'パスワードをお忘れの方はこちら', new_user_password_path, {id: 'go-password'}
            = f.hidden_field :reset_password_token

          .user-form
            %label.edit-form 新しいパスワード
            = f.password_field :password, autocomplete: "off"
            - if @minimum_password_length
              %br/
              %em 半角英数字６文字以上

          .user-form
            %label.edit-form 確認用パスワード
            = f.password_field :password_confirmation, autocomplete: "off"

          .setting-button
            = f.submit '保存する', {class: 'update-btn'}
