= render "shared/header"
.contents-container
  .page-content-wide
    .setting-menu
      .profile
        .user-icon
          = image_tag 'user-image.png'
        .user-name
        #{current_user.name}
      .setting-items
        %span.menu-header アカウント
        = link_to 'ユーザー情報', edit_user_path(current_user), {class: 'user-menu-item'}
        = link_to 'パスワード設定', edit_user_registration_path(@user), {class: 'user-menu-item'}

        %span.menu-header 有料サービス
        = link_to '登録中のプラン', '#', {class: 'user-menu-item'}

        %span.menu-header 機能設定
        = link_to '非表示コメント', '#', {class: 'user-menu-item'}
        = link_to '外部サービス設定', '#', {class: 'user-menu-item'}
        = link_to 'キーワード設定', '#', {class: 'user-menu-item'}
        = link_to 'メールマガジン購読設定', '#', {class: 'user-menu-item'}
        = link_to '求人応募情報', '#', {class: 'user-menu-item'}
    .setting-container
      .setting-password
        %h1 パスワード設定
        %hr
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = f.hidden_field :reset_password_token
          .user-form
            %label.edit-form 現在のパスワード
            = f.password_field :current_password, autocomplete: "off"
            .forget-passward
            = link_to 'パスワードをお忘れの方はこちら', new_user_password_path, {id: 'go-password'}
            = f.hidden_field :reset_password_token

          .user-form
            %label.edit-form 新しいパスワード
            = f.password_field :password, autocomplete: "off"
            - if @minimum_password_length
              %br/
              %em 半角英数字６文字以上

          .user-form
            %label.edit-form 確認用パスワード
            = f.password_field :password_confirmation, autocomplete: "off"

          .setting-button
            = f.submit '保存する', {class: 'update-btn'}
