.modal-user
  .background
  .content-wrapper
    .dialog
      = link_to '戻る', root_path, {id: 'close-btn'}
      .register-message 新規登録
      .go-logon
      %span.go 既にアカウントをお持ちの方は
      = link_to 'ログインへ', new_user_session_path, {class: 'login'}
      = link_to 'https://www.facebook.com/' do
        %button.register-fb
          = image_tag 'facebook.png', {class: 'fb-btn'}
          %span.facebook Facebookで登録
      %br
      = link_to 'https://twitter.com/?lang=ja' do
        %button.register-tw
          = image_tag 'twitter.png', {class: 'tw-btn'}
          %span.twetter Twitterで登録
      .or
        %div または
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          = f.text_field :name, autofocus: true, placeholder: '登録する名前'
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '登録するメールアドレス'
        .field
          - if @minimum_password_length
            = f.password_field :password, autocomplete: "off", placeholder: 'パスワード(半角英数字6文字以上)'
        .field
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワード(確認用)'
        .actions
          = f.submit "Sign up", id: 'submit'
        .description
          利用開始を持って
          = link_to '<利用規約>', root_path
          と
          =link_to '<個人情報保護方針>'
          に同意したものとみなします。
