.article
  = link_to article_path(article.id) do       #仮置きのリンク
    .article-image
      / - if article.image.present?
      = image_tag article.image, { class: 'image' }
      / - else

    .picks
      .count
        10
      %span.small-letter
        Picks

    .title_ellipsised
      = article.title.truncate(50)

  = link_to root_path do       #仮置きのリンク
    .article-user
      .user-icon
        / - if article.image.present?
        = image_tag 'sky.jpg', { class: 'icon-image' }
        / - else

      .user-info
        .user-name
          = article.user.name
        .user-status
          = article.user.position

  = link_to root_path do       #仮置きのリンク
    .article-comment
      .comment-text
        = article.comments.first.content
      .comment-user
        = image_tag 'sky.jpg', { class: 'comment-icon' }
        = image_tag 'sky.jpg', { class: 'comment-icon' }

  .footer
    .publisher
      = article.site_name.truncate(20)
    .published
      10時間前
