- if !current_page?(root_path) && !current_page?(user_path(article.user.id)) && article_counter == 0
  .top-article
    = link_to article_path(article.id) do
      .top-article-image
        = image_tag article.image, { class: 'image' }

      .top-picks
        .top-count
          = article.comment_counts
        %span.top-small-letter
          Picks

      .top-title_ellipsised
        = article.title.truncate(50)

    = link_to article.comments.first.present? ? user_path(article.fetch_top_comment.user.id) : nil, remote: true do
      .top-article-user
        .top-user-icon
          = top_user_avatar_image(article.fetch_top_comment)

        .top-user-info
          .top-user-name
            = top_user_name(article.fetch_top_comment)
          .top-user-status
            = top_user_position(article.fetch_top_comment)
      .top-article-comment
        = link_to article_path(article.id) do
          .top-comment-text
            = top_user_comment(article.fetch_top_comment)

        - 0.upto(4) do |num|
          - if article.comments[num].present?
            = link_to user_path(article.comments[num].user_id), remote: true do
              .top-comment-user
                = image_tag article.comments[num].user.avatar_image.present? ? article.comments[num].user.avatar_image : 'user-image.png', { class: 'comment-icon' }
    .top-footer
      .top-publisher
        = article.site_name.truncate(20)
      .top-published
        = article.before_time

- else
  .article
    = link_to article_path(article.id) do
      .article-image
        = image_tag article.image, { class: 'image' }

      .picks
        .count
          = article.comment_counts
        %span.small-letter
          Picks

      .title_ellipsised
        = article.title.truncate(50)

    = link_to article.comments.first.present? ? user_path(article.fetch_top_comment.user.id) : nil, remote: true do
      .article-user
        .user-icon
          = top_user_avatar_image(article.fetch_top_comment)

        .user-info
          .user-name
            = top_user_name(article.fetch_top_comment)
          .user-status
            = top_user_position(article.fetch_top_comment)
      .article-comment
        = link_to article_path(article.id) do
          .comment-text
            = top_user_comment(article.fetch_top_comment)

        - 0.upto(4) do |num|
          - if article.comments[num].present?
            = link_to user_path(article.comments[num].user_id), remote: true do
              .comment-user
                = image_tag article.comments[num].user.avatar_image.present? ? article.comments[num].user.avatar_image : 'user-image.png', { class: 'comment-icon' }
    .footer
      .publisher
        = article.site_name.truncate(20)
      .published
        = article.before_time
