- comments.each_with_index do |comment, index|
  = link_to article_path(comment.article.id) do
    .comment-ranking-card
      .comment-ranking-header
        .ranking-order
          .ranking-ribon
            - if index == 0
              = image_tag 'rank_ribon_first.png', { class: 'ranking-ribon-image'}
            - elsif index == 1
              = image_tag 'rank_ribon_second.png', { class: 'ranking-ribon-image'}
            - elsif index == 2
              = image_tag 'rank_ribon_third.png', { class: 'ranking-ribon-image'}
            - else
              = image_tag 'rank_ribon_other.png', { class: 'ranking-ribon-image'}
            .rank-box
              = index + 1
        .user-cover
          = image_tag comment.user.avatar_image.present? ? comment.user.avatar_image : 'user-image.png', class: 'user-icon'
        .user-meta
          .name-wrapper
            = comment.user.name
          .title_ellipsised
            = comment.user.company
            = comment.user.position
        .comment-ranking-header-right-box
          .likes
            .like-count
              - if comment.like_counts == nil
                0
              - else
                = comment.like_counts
            .small-letter
              Likes
          .follow
            = render partial: "follows/follow", locals: {user: comment.user, follow: @follow, follower: @follower}
      .comment-box
        .comment-text
          = comment.content
      .news-box
        .news-title-ellipsised
          = comment.article.title
        .publisher-ellipsised
          = comment.article.site_name
