.content
  .eyecatch-container
    .col-md-8.slide
      = render partial: "slider", collection: @top_articles, as: :article

    .col-md-4.sub
      .top
        - if @head_articles.present?
          = image_tag @head_articles[0][:image], { class: 'top-image'}
          .capture
            .special
              特集
            .about
              トーク
            .title
              = @head_articles[0][:title]
        - else
          %p No Article

      .bottom
        - if @head_articles[1].present?
          = image_tag @head_articles[1][:image], { class: 'bottom-image'}
          .capture
            .special
              特集
            .about
              トーク
            .title
              = @head_articles[1][:title]
        - else
          %p No Article
  .topic
    .top-topic
      .top-article-block
        = render partial: 'article', collection: @top_articles, as: :article
      .latest-article-block
        .latest-news
          .area-title
            新着ニュース
          = render partial: 'latest-new', collection: @latest_articles, as: :article
      .bottom-article-block
        = render partial: 'article', collection: @tech_articles, as: :article

    .innovation-topic
      .innovation-block
        .innovation-header
          %h4.title イノベーション
          = image_tag 'IBM.png', { class: 'ibm-logo'}
          = link_to "イノベーション 一覧を見る", '#', { class: 'innovation-link'}
        .innovation-content
          .innovation-left-block
            = render partial: 'innovation-box'
            = render partial: 'innovation-box'
          .innovation-right-block
            = image_tag 'sky.jpg', { class: 'innovation-right-image'}
            = link_to "もっと見る", '#', { class: 'innovation-right-block-link'}

    .genre-topic
      .genreblock
        %h4.title テクノロジー
        = link_to "テクノロジー  一覧を見る", user_signed_in? ? technology_path : user_session_path, { class: 'genre-link'}
        .article-box
          = render partial: 'article', collection: @tech_articles, as: :article

      .genreblock
        %h4.title ビジネス
        = link_to "ビジネス　 一覧を見る", user_signed_in? ? business_path : user_session_path, { class: 'genre-link'}
        .article-box
          = render partial: 'article', collection: @business_articles, as: :article

      .genreblock
        %h4.title 政治・経済
        = link_to "政治・経済　 一覧を見る", user_signed_in? ? economy_path : user_session_path, { class: 'genre-link'}
        .article-box
          = render partial: 'article', collection: @economy_articles, as: :article

      .genreblock
        %h4.title 金融・マーケット
        = link_to "金融・マーケット　 一覧を見る", user_signed_in? ? finance_path : user_session_path, { class: 'genre-link'}
        .article-box
          = render partial: 'article', collection: @finance_articles, as: :article

      .genreblock
        %h4.title キャリア・教育
        = link_to "キャリア・教育　 一覧を見る", user_signed_in? ? career_path : user_session_path, { class: 'genre-link'}
        .article-box
          = render partial: 'article', collection: @career_articles, as: :article

      .genreblock
        %h4.title 社会・スポーツ
        = link_to "社会・スポーツ　 一覧を見る", user_signed_in? ? society_path : user_session_path, { class: 'genre-link'}
        .article-box
          = render partial: 'article', collection: @society_articles, as: :article

      .genreblock
        %h4.title ジョブオファー
        = link_to "ジョブオファー　 一覧を見る", user_signed_in? ? job_path : user_session_path, { class: 'genre-link'}
        .article-box
          = render partial: 'article', collection: @job_articles, as: :article

      .genreblock
        %h4.title 過去の人気特集
        .article-box
          = render partial: 'article', collection: @back_number_articles, as: :article

      .genreblock
        %h4.title アナリシス
        %h5.description アナリストによる解説記事
        .article-box
          = render partial: 'article', collection: @analysis_articles, as: :article

    .user-ranking
      %h4.title ユーザーランキング
      = link_to "ユーザーランキング　 一覧を見る", user_signed_in? ? user_ranking_page_path : user_session_path, { class: 'user-ranking-link'}
      .user-ranking-block
        = render partial: 'user-ranking', locals: { like_sort_users: @like_sort_users}

    .comment-ranking
      %h4.title コメントランキング
      = link_to "コメントランキング　 一覧を見る", user_signed_in? ? comment_ranking_page_path : user_session_path, { class: 'comment-ranking-link'}
      .comment-ranking-block
        = render partial: 'comment-ranking', locals: { comments: @comments}



  .footer
    .about
      = link_to "OldPICKS について ", '#', { class: 'footer-link'}
      = link_to "利用規約", '#', { class: 'footer-link'}
      = link_to "コンテンツの利用について", '#', { class: 'footer-link'}
      = link_to "個人情報保護方針", '#', { class: 'footer-link'}
      = link_to "広告掲載", '#', { class: 'footer-link'}
    .social-page
      = link_to 'http://twitter.com/NewsPicks' do
        = image_tag 'twitter.png', { class: 'twitter-mark'}
      = link_to 'http://www.facebook.com/NewsPicks' do
        = image_tag 'facebook.png', { class: 'facebook-mark'}
    .social-action
      .twitter-button
        = fa_icon 'twitter', { class: 'twitter-action-mark'}
        .twitter-label
          ツイート
      .facebook-button
        = fa_icon 'thumbs-up', { class: 'facebook-action-mark'}
        .facebook-label
          いいね！
    .stores
      = link_to 'https://play.google.com/store/apps/details?id=com.newspicks', { class: 'google-play'} do
        = image_tag 'google_play.png', { class: 'google-play-logo'}
      = link_to 'https://itunes.apple.com/jp/app/news-picks-sosharu-jing-jinyusumedia/id640956497?mt=8', { class: 'app-store'} do
        = image_tag 'app_store.png', { class: 'app-store-logo'}
