.innovation-article
  = link_to article_path(article.id) do
    .innovation-article-image
      / - if article.image.present?
      = image_tag article.image, { class: 'innovation-image'}
      / - else

      .innovation-picks
        .innovation-picks-count
          = article.comment_counts
        %span.innovation-picks-small-letter
          Picks

    .innovation-title_ellipsised
      = article.title.truncate(50)

  - 0.upto(4) do |num|
    - if article.comments[num].present?
      = link_to user_path(article.comments[num].user_id), remote: true do
        .innovation-comment-user
          = image_tag article.comments[num].user.avatar_image.present? ? article.comments[num].user.avatar_image : 'user-image.png', { class: 'innovation-comment-user-icon' }

  .bottom
    .innovation-publisher
      = article.site_name.truncate(20)
    .innovation-published
      = article.before_time
