= link_to article_path(article.id) do
  .news-title-list
    - if current_page?(root_path)
      .title
        = article.title.truncate(49)
      .meta
        .publisher
          = article.site_name.truncate(20)
        .published
          = article.before_time
    - else
      .latest-news-image-box
        = image_tag article.image, { class: 'latest-news-image' }
      .title
        = article.title.truncate(30)
      .meta
        .publisher
          = article.site_name.truncate(20)
        .published
          = article.before_time
