.wrapper
  = render partial: "shared/header"
  = render partial: "shared/side-bar"
  = render partial: "search-parts/search-header"
  .tab-contents
    .top.tab-content.selected{ style: "display:block;" }
      .search-tool-bar
        .search-tools
          .search-tool
            .search-tool-button
              .tool-title
                PICK数:
              .tool-value.not-default
                指定なし
              = image_tag 'arrow_bottom.svg', { class: "arrow_bottom" }
          .search-tool
            .search-tool-button
              .tool-title
                期間:
              .tool-value.not-default
                指定なし
              = image_tag 'arrow_bottom.svg', { class: "arrow_bottom" }
          .search-tool
            .search-tool-button
              .tool-title
                ソート順:
              .tool-value.not-default
                おすすめ
              = image_tag 'arrow_bottom.svg', { class: "arrow_bottom" }
      .items
        .main-container
          .news-card-list
            .top-news-section
              .top-news-title
                トップニュース
              .search-result-card
                .news-card.horizontal
                  = link_to '#' do
                    .news-thumbnail{ style: "background-image:url(https://contents.newspicks.com/images/news/2817739?updatedAt=20180212205640)" }
                      .pick-count.small.black
                        .picks-cover
                        .labels
                          .value
                            130
                          .unit
                            Picks
                    .news-information
                      = link_to '#' do
                        .news-title._ellipsised
                          タイトルがここに入るよ〜ん！
                      .meta
                        .publisher-container
                          .publisher._ellipsised{ style: "overflow: initial;" }
                            出展
                          .separator
                            |
                          .published 1時間前
                      .news-summary
                        .summary._ellipsised
                          ニュースですニュースですニュースですニュースですニュースですニュースですニュースです
              -# 仮置き（renderする）
              .search-result-card
                .news-card.horizontal
                  = link_to '#' do
                    .news-thumbnail{ style: "background-image:url(https://contents.newspicks.com/images/news/2817739?updatedAt=20180212205640)" }
                      .pick-count.small.black
                        .picks-cover
                        .labels
                          .value
                            130
                          .unit
                            Picks
                    .news-information
                      = link_to '#' do
                        .news-title._ellipsised
                          タイトルがここに入るよ〜ん！
                      .meta
                        .publisher-container
                          .publisher._ellipsised{ style: "overflow: initial;" }
                            出展
                          .separator |
                          .published 1時間前
                      .news-summary
                        .summary._ellipsised
                          ニュースですニュースですニュースですニュースですニュースですニュースですニュースです

        .right-container
          .related-comment-container
            .related-comment-caption 関連するコメント
            .related-comment-result
              .search-result-card.comment-card
                -# ユーザーリンク
                = link_to '#' do
                  .user-profile
                    = image_tag 'https://contents.newspicks.com/images/news/2817739?updatedAt=20180212205640', { class: "user-icon square-icon"}
                    .user-info
                      .name-wrapper
                        .user-name._tab-ellipsis
                          ゴーン 社長
                      .user-title._ellipsised{ style: "overflow: initial;" }
                        株式会社 日産自動車　社長
                      .pick-time
                        10時間前
                .comment-content-wrapper
                  -# 記事リンク
                  = link_to '#' do
                    .user-comment
                      .comment-value
                        ここにコメントを表示して記事リンクをつけます。また、企業情報系統は入手の方法が無いので作成しません。
                .meta
                  -# 記事リンク
                  = link_to '#' do
                    .news-title._ellipsised
                      ここにニュースタイトルを表示して記事リンク付与。
                  .publisher-container
                    .publisher._tab-ellipsis
                      出展
                    .separator
                      |
                    .published
                      9999年99月99日
