.wrapper
  = render partial: "shared/header"
  = render partial: "shared/side-bar"
  = render partial: "search-parts/search-header"
  .tab-contents
    .top.tab-content.selected{ style: "display:block;" }
      = render partial: 'search-parts/tool-bar'

      .items
        .main-container
          .news-card-list
            .top-news-section
              .top-news-title
                トップニュース
              = render partial: "search-parts/search-card", collection: @articles, as: :article

        .right-container
          .related-comment-container
            .related-comment-caption 関連するコメント
            .related-comment-result
              .search-result-card.comment-card
                -# ユーザーリンク
                = link_to '#' do
                  .user-profile
                    = image_tag 'https://contents.newspicks.com/images/news/2817739?updatedAt=20180212205640', { class: "user-icon square-icon"}
                    .user-info
                      .name-wrapper
                        .user-name._tab-ellipsis
                          ゴーン 社長
                      .user-title._ellipsised{ style: "overflow: initial;" }
                        株式会社 日産自動車　社長
                      .pick-time
                        10時間前
                .comment-content-wrapper
                  -# 記事リンク
                  = link_to '#' do
                    .user-comment
                      .comment-value
                        ここにコメントを表示して記事リンクをつけます。また、企業情報系統は入手の方法が無いので作成しません。
                .meta
                  -# 記事リンク
                  = link_to '#' do
                    .news-title._ellipsised
                      ここにニュースタイトルを表示して記事リンク付与。
                  .publisher-container
                    .publisher._tab-ellipsis
                      出展
                    .separator
                      |
                    .published
                      9999年99月99日
