.show-wrapper
  = render partial: "shared/header"
  = render partial: "shared/side-bar"

  .show-content
    .breadcrumbs
      .link-wrapper
        = link_to root_path do
          = image_tag 'arrow-left.png', { class: 'arrow-left' }
          総合トップ

    .show-contents
      .main-contents-area
        = link_to @show_article.url do
          .show-article-image
            = image_tag @show_article.image, { class: 'show-image' }
            .show-picks
              .show-count
                - if @show_article.comment_counts == nil
                  0
                - else
                  = @show_article.comment_counts
              %span.show-small-letter
                Picks

          .news
            = link_to @show_article.url do
              .title-bordered-editor
                = @show_article.title.truncate(50)
            .meta
              = image_tag 'publisher.png', { class: 'icon-image' }
              .caption
                = @show_article.site_name.truncate(10)
              = image_tag 'published.png', { class: 'icon-image' }
              .caption
                = @show_article.before_time
            = link_to '続きを読む', @show_article.url, { class: 'read-more-center' }
        - if user_signed_in?
          = render partial: "users/user-modal"
          .news-comment
            .pick-editor
              .comment-area
                = image_tag current_user.avatar_image.present? ? current_user.avatar_image : 'user-image.png', { class: 'cover' }
                .comment-container
                  - if @your_comment.present?
                    = form_for [@your_comment], html: { id: "update_comment_form", name: "#{@your_comment.id}", } do |f|
                      = f.text_area :content, { class: 'comment-form-area', placeholder: "コメントを書く" }
                      .pick-control
                        .description
                          シェアする
                        .sns-twitter
                          = image_tag 'twitter-gray', { class: 'twitter-mark' }
                        .sns-facebook
                          = image_tag 'facebook-gray', { class: 'facebook-mark' }
                        #update_comment.pick-button
                          Pick
                        .comment-update-modal
                          .background
                            .modal-content-wrapper
                              .message-box
                                .labels
                                  .alert-title
                                    Pickを上書きしてもよろしいですか？
                                  .alert-message
                                    %p すでにPickしたことがあるニュースです。
                                    %p 再度Pickするとコメントが上書きされます。
                                  .alert-buttons
                                    #cancel_update.negative-button
                                      キャンセル
                                    = f.submit 'OK', class: 'positive-button'
                  -else
                    = form_for [@show_article, @comment], html: { id: "comment_form", name: "#{@comment.id}", } do |f|
                      = f.text_area :content, { class: 'comment-form-area', placeholder: "コメントを書く" }
                      .pick-control
                        .description
                          シェアする
                        .sns-twitter
                          = image_tag 'twitter-gray', { class: 'twitter-mark' }
                        .sns-facebook
                          = image_tag 'facebook-gray', { class: 'facebook-mark' }
                      = f.submit 'Pick', class: 'pick-button', id:'new_comment'
            .comments
              .populars
                .section-header
                  注目のコメント
                .comment-container
                  - @comments.each do |comment|
                    .comment-row-no-border
                      .user-bar
                        .user-cover
                          = link_to user_path(comment.user.id), remote: true do
                            = image_tag comment.user.avatar_image.present? ? comment.user.avatar_image : 'user-image.png', { class: 'user-icon' }
                        .user-profile
                          .user-name
                            = comment.user.name
                          .user-job
                            = "#{comment.user.company} #{comment.user.position}".truncate(12)
                          .pick-time
                            = comment.before_time
                        .dropdown
                          %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
                            ⋮
                          .dropdown-menu{"aria-labelledby": "dropdownMenuButton"}
                            %a.dropdown-item
                              = image_tag 'follow', { class: 'drop-icon' }
                              このユーザーをフォロー
                            %a.dropdown-item
                              = image_tag 'mute-icon', { class: 'drop-icon' }
                              このユーザーのコメントを非表示
                            %a.dropdown-item
                              = image_tag 'report-icon', { class: 'drop-icon' }
                              問題を報告
                      .comment-box
                        .comment
                          = comment.content
                        .like-panel
                          = render partial: 'likes/like', locals: {comment: comment}
              - if user_signed_in?
                .follow-comment
                  - if @your_comment.present?
                    .section-header
                      あなたのコメント
                    .comment-container
                      .comment-row-no-border
                        .user-bar
                          .user-cover
                            = image_tag @your_comment.user.avatar_image.present? ? @your_comment.user.avatar_image : 'user-image.png', { class: 'user-icon' }
                          .user-profile
                            .user-name
                              = current_user.name
                            .user-job
                              = current_user.company
                              = current_user.position
                            .pick-time
                              = @your_comment.before_time

<<<<<<< HEAD
              - if user_signed_in?
                .follow-comment
                  - if @your_comment.present?
                    .section-header
                      フォローしているユーザーのコメント
                    .comment-container
                      .comment-row-no-border
                        .user-bar
                          .user-cover
                            = image_tag current_user.avatar_image, { class: 'user-icon' }
                          .user-profile
                            .user-name
                              = current_user.name
                            .follower-only
                              = image_tag 'follower-only.png', { class: 'follower-only-icon'}
                              .follower-only-text
                                フォロワーのみ
                            .user-job
                              = current_user.company
                              = current_user.position
                            .pick-time
                              = @your_comment.before_time

                          .dropdown
                            %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
                              ▼
                            .dropdown-menu{"aria-labelledby": "dropdownMenuButton"}
                              %a.dropdown-item
                                .edit-drop-menu
                                  編集
                              %a.dropdown-item
                                #delete-drop-button.delete-drop-menu
                                  削除
                          .comment-delete-modal
                            .background
                              .modal-content-wrapper
                                .message-box
                                  .labels
                                    .alert-title
                                      Pickを削除してもよろしいですか？
                                    .alert-message
                                      Pickを削除すると元に戻すことは出来ません。
                                    .alert-buttons
                                      #cancel_delete.negative-button
                                        キャンセル
                                      = link_to 'Pickを削除する', comment_path(@your_comment.id), {method: :delete, class: 'delete-button'}

=======
                          .dropdown
                            %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
                              ▼
                            .dropdown-menu{"aria-labelledby": "dropdownMenuButton"}
                              %a.dropdown-item
                                .edit-drop-menu
                                  編集
                              %a.dropdown-item
                                #delete-drop-button.delete-drop-menu
                                  削除
                          .comment-delete-modal
                            .background
                              .modal-content-wrapper
                                .message-box
                                  .labels
                                    .alert-title
                                      Pickを削除してもよろしいですか？
                                    .alert-message
                                      Pickを削除すると元に戻すことは出来ません。
                                    .alert-buttons
                                      #cancel_delete.negative-button
                                        キャンセル
                                      = link_to 'Pickを削除する', comment_path(@your_comment.id), {method: :delete, class: 'delete-button'}

>>>>>>> master
                        .comment-box
                          #your-comment.comment
                            = @your_comment.content
                          .edit-comment-box
                            = form_for [@your_comment] do |f|
                              = f.text_area :content, { class: 'your-comment-form' }
                              .pick-control
                                .description
                                  シェアする
                                .sns-twitter
                                  = image_tag 'twitter-gray', { class: 'twitter-mark' }
                                .sns-facebook
                                  = image_tag 'facebook-gray', { class: 'facebook-mark' }
                                = f.submit 'Pick', class: 'pick-button'
                                .cancel-button
                                  キャンセル
                          #your-like.like-panel
                            = image_tag 'like-gray', { class: 'like-icon' }
                            / = image_tag 'like-red', { class: 'like-mark' }
                            .like-count-box
                              .like-count
                                - if @your_comment.like_counts == nil
                                  0
                                -else
                                  = @your_comment.like_counts
                            .like-label
                              Likes


              .recommend-new
                .section-header
                  新着のコメント
                .comment-container
                  - @new_comments.each do |comment|
                    - if @your_comment.present?
                      - if @comments.ids.group_by{|i| i == comment.id}[true] != [comment.id] && comment.id != @your_comment.id
                        .comment-row-no-border
                          .user-bar
                            .user-cover
                              = link_to user_path(comment.user.id), remote:true do
                                = image_tag comment.user.avatar_image.present? ? comment.user.avatar_image : 'user-image.png', { class: 'user-icon' }
                            .user-profile
                              .user-name
                                = comment.user.name
                              .user-job
                                = "#{comment.user.company} #{comment.user.position}".truncate(12)
                              .pick-time
                                = comment.before_time
                            .dropdown
                              %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
                                ⋮
                              .dropdown-menu{"aria-labelledby": "dropdownMenuButton"}
                                %a.dropdown-item
                                  = image_tag 'follow', { class: 'drop-icon' }
                                  このユーザーをフォロー
                                %a.dropdown-item
                                  = image_tag 'mute-icon', { class: 'drop-icon' }
                                  このユーザーのコメントを非表示
                                %a.dropdown-item
                                  = image_tag 'report-icon', { class: 'drop-icon' }
                                  問題を報告
                          .comment-box
                            .comment
                              = comment.content
                            .like-panel
                              = render partial: 'likes/like', locals: {comment: comment}
                    - else
                      - if @comments.ids.group_by{|i| i == comment.id}[true] != [comment.id]
                        .comment-row-no-border
                          .user-bar
                            .user-cover
                              = image_tag comment.user.avatar_image.present? ? comment.avatar_image : 'user-image.png', { class: 'user-icon' }
                            .user-profile
                              .user-name
                                = comment.user.name
                              .user-job
                                = "#{comment.user.company} #{comment.user.position}".truncate(12)
                              .pick-time
                                = comment.before_time
                            .dropdown
                              %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
                                ⋮
                              .dropdown-menu{"aria-labelledby": "dropdownMenuButton"}
                                %a.dropdown-item
                                  = image_tag 'follow', { class: 'drop-icon' }
                                  このユーザーをフォロー
                                %a.dropdown-item
                                  = image_tag 'mute-icon', { class: 'drop-icon' }
                                  このユーザーのコメントを非表示
                                %a.dropdown-item
                                  = image_tag 'report-icon', { class: 'drop-icon' }
                                  問題を報告
                          .comment-box
                            .comment
                              = comment.content
                            .like-panel
                              = render partial: 'likes/like', locals: {comment: comment}
              .load-all
                .show-other-pick
                  .other-pick-text
                    .other-pick-label
                      他
                    .remaining-count
                      0
                    .other-pick-label
                      件の Pickを表示
        -else
          .news-comment
            .pick-editor
              .comment-area
                = link_to '新規登録/ログインして、コメントを閲覧・投稿する', user_session_path, class: 'go-session'

    .right-container
      .transmit-source-container
        .related-user-section-title
          配信メディア
          .related-user
            = image_tag 'sky.jpg', { class: 'transmit-source-icon' }
            .related-user-name
              = @show_article.site_name
            = image_tag 'follow-button.png', { class: 'follow-btn' }

      .side-news-wrapper
        .side-news-section-title
          新着記事一覧
        - @articles.each do |article|
          .side-contents
            = link_to article.url do
              .side-article-image
                / - if article.image.present?
                = image_tag article.image, { class: 'show-image' }
                / - else

                .show-picks
                  .show-count
                    - if article.comment_counts == nil
                      0
                    - else
                      = article.comment_counts
                  %span.show-small-letter
                    Picks

              .news-detail
                .title-bordered-editor
                  = article.title
              .meta
                .caption-publisher
                  = article.site_name
                .caption-published
                  = article.before_time
