.news-card
  = link_to article_path(article.id) do
    .show-thumbnail
      / = image_tag 'sky.jpg', {id: 'thumbnail-image'}
      = image_tag article.image, { id: 'thumbnail-image' }
    .picks-block
      %span.pick-counts
        = article.comment_counts
        %span.small-letter
        Picks
    .show-title_ellipsised
      = article.title
  = link_to user_path(@user) do
    .details
      .user-icon
        = image_tag @user.avatar_image.present? ? @user.avatar_image : 'user-image.png', { class: 'user-icon'}
      .user-info
        .user-name
          = article.user.name
        .user-status
          = article.user.user_profile
  = link_to root_path do
    .user-show-comment
      .comment-text
        = article.comments.first.present? ? article.comments.first.content : "コメントはありません"
  .show-footer
    .publisher
      = article.site_name.truncate(20)
    %span.published
      = article.before_time
