.news-card
  = link_to root_path do
    .show-thumbnail
      = image_tag 'sky.jpg', {id: 'thumbnail-image'}
      / = image_tag article.image, { class: 'image' }
    .picks-block
      %span.pick-counts
        10
        %span.small-letter
        Picks
    .show-title_ellipsised
      ロボット業界は今後どうなる？ 2017年の70社以上の事例などから読み解く
      / = article.title.truncate(50)
  = link_to root_path do
    .details
      .user-icon
        = image_tag 'sky.jpg', { class: 'user-icon' }
      .user-info
        .user-name
          織田信長
          / = article.user.name
        .user-status
          戦国
          武将
          / = article.user.position
  = link_to root_path do
    .user-show-comment
      .comment-text
        ロボット、てゆうとくくりが広過ぎる  掃除ロボ、産業ロボ、倉庫搬送ロボ、ピザ宅配ロボなどはすでに実用商業化していて非常に強いプロダクト 今後は警備ロボ、ドローン物流、自動運転車、オート建機など、いわゆる泥くさい仕事のロボット化が期待されているだろう
        / = article.comments.first.content
  .show-footer
    .publisher
      幕府
      / = article.site_name.truncate(20)
    %span.published
      10時間前
