.user-show-modal
  .background
  .modal-content-wrapper
    .modal-content.dialog
      = link_to user_path(@user) do
        = image_tag 'xxx.png', { class: 'show-close-btn' }
      .user-profile-container
        .user-profile
          .detail
            = link_to user_path(@user) do
              = image_tag @user.avatar_image.present? ? @user.avatar_image : 'user-image.png'
              .labels
                .user-name
                  #{@user.name}
                .ellipsis-job
                  #{@user.company}
                  %br
                  #{@user.position}
                .extra-info
                  %span.picker-likes 総 Like 数: 0
                .profile-ellipsised
                  #{@user.profile}
      .operation-section
        .tab-container
          = link_to user_path(@user) do
            %span.tab-title Picks
          .tab-item-follows
            = link_to user_follows_path(@user) do
              .count #{@user.follow_count}
              .unit フォロー
          .tab-item-followers
            = link_to user_followers_path(@user) do
              .count #{@user.followers.count}
              .unit フォロワー
        - if current_user.following? @user
          .show-follow-btn
            = link_to user_follow_path(@user, @follower), {method: :delete} do
              = image_tag 'following-btn.png'
        - else
          .show-follow-btn
            = link_to user_follows_path(@user), {method: :post} do
              = image_tag 'follow-button.png'
      - if @modal_articles.present?
        .user-picks
          = render partial: "users/user-article", collection: @modal_articles, as: :article
      - else
        .user-picks
          記事はまだありません
      .user-footer
        = link_to 'プロフィールをもっと見る', user_path(@user), {class: 'more-profile'}