.content
  .eyecatch-container
    .col-md-8.slide
      / -@method.each do ||
      /    = link_to '#', { class: 'slide-link'} do
      /      - if article.image?
      = image_tag @articles[0][:image], { class: 'slide-image'}
      /       - else article.image?
      /         =
      .capture
        .picks
          45
          .small-letter
            Picks
        .title
          = @articles[0][:title]
        .detail
          .source
            = @articles[0][:site_name]
          .time
            12時

    .col-md-4.sub
      .top
        = image_tag @articles[2][:image], { class: 'top-image'}
        .capture
          .special
            特集
          .about
            トーク
          .title
            = @articles[2][:title]
      .bottom
        = image_tag @articles[3][:image], { class: 'bottom-image'}
        .capture
          .special
            特集
          .about
            トーク
          .title
            = @articles[3][:title]

  .topic
    .top-topic
      .top-article-block
        = render partial: 'articles/article', collection: @articles, as: :article
        -# - @articles.each do |article|
        -#   = render partial: 'articles/article'
      .latest-article-block
        = render partial: 'latest-news'
      .bottom-article-block
        -# = render partial: 'article', collection: @articles.find(5, 6, 7)

    .innovation-topic
      .innovation-block
        .innovation-header
          %h4.title イノベーション
          = image_tag 'IBM.png', { class: 'ibm-logo'}
          = link_to "イノベーション 一覧を見る", '#', { class: 'innovation-link'}
        .innovation-content
          .innovation-left-block
            = render partial: 'innovation-box'
            = render partial: 'innovation-box'
          .innovation-right-block
            = image_tag 'sky.jpg', { class: 'innovation-right-image'}
            = link_to "もっと見る", '#', { class: 'innovation-right-block-link'}


    .genre-topic
      .genreblock
        %h4.title テクノロジー
        = link_to "テクノロジー  一覧を見る", '#', { class: 'genre-link'}
        .article-box
          / - @articles.limit(3).each do |article|
          / = render partial: 'article'
          / = render partial: 'article'
          / = render partial: 'article'

      .genreblock
        %h4.title ビジネス
        = link_to "ビジネス　 一覧を見る", '#', { class: 'genre-link'}
        .article-box
          / - @articles.limit(3).each do |article|
          / = render partial: 'article'
          / = render partial: 'article'
          / = render partial: 'article'

      .genreblock
        %h4.title 政治・経済
        = link_to "政治・経済　 一覧を見る", '#', { class: 'genre-link'}
        .article-box
          / - @articles.limit(3).each do |article|
          / = render partial: 'article'
          / = render partial: 'article'
          / = render partial: 'article'

      .genreblock
        %h4.title 金融・マーケット
        = link_to "金融・マーケット　 一覧を見る", '#', { class: 'genre-link'}
        .article-box
          / - @articles.limit(3).each do |article|
          / = render partial: 'article'
          / = render partial: 'article'
          / = render partial: 'article'

      .genreblock
        %h4.title キャリア・教育
        = link_to "キャリア・教育　 一覧を見る", '#', { class: 'genre-link'}
        .article-box
          / - @articles.limit(3).each do |article|
          / = render partial: 'article'
          / = render partial: 'article'
          / = render partial: 'article'

      .genreblock
        %h4.title 社会・スポーツ
        = link_to "社会・スポーツ　 一覧を見る", '#', { class: 'genre-link'}
        .article-box
          / - @articles.limit(3).each do |article|
          / = render partial: 'article'
          / = render partial: 'article'
          / = render partial: 'article'

      .genreblock
        %h4.title ジョブオファー
        = link_to "ジョブオファー　 一覧を見る", '#', { class: 'genre-link'}
        .article-box
          / - @articles.limit(3).each do |article|
          / = render partial: 'article'
          / = render partial: 'article'
          / = render partial: 'article'

      .genreblock
        %h4.title 過去の人気特集
        .article-box
          / - @articles.limit(3).each do |article|
          / = render partial: 'article'
          / = render partial: 'article'
          / = render partial: 'article'

      .genreblock
        %h4.title アナリシス
        %h5.description アナリストによる解説記事
        .article-box
          / - @articles.limit(3).each do |article|
          / = render partial: 'article'
          / = render partial: 'article'
          / = render partial: 'article'

    .user-ranking
      %h4.title ユーザーランキング
      = link_to "ユーザーランキング　 一覧を見る", '#', { class: 'user-ranking-link'}
      .user-ranking-block
        = render partial: 'user-ranking'
        = render partial: 'user-ranking'
        = render partial: 'user-ranking'
        = render partial: 'user-ranking'

    .comment-ranking
      %h4.title コメントランキング
      = link_to "コメントランキング　 一覧を見る", '#', { class: 'comment-ranking-link'}
      .comment-ranking-block
        = render partial: 'comment-ranking'
        = render partial: 'comment-ranking'
        = render partial: 'comment-ranking'
        = render partial: 'comment-ranking'



  .footer
    .about
      = link_to "OldPICKS について ", '#', { class: 'footer-link'}
      = link_to "利用規約", '#', { class: 'footer-link'}
      = link_to "コンテンツの利用について", '#', { class: 'footer-link'}
      = link_to "個人情報保護方針", '#', { class: 'footer-link'}
      = link_to "広告掲載", '#', { class: 'footer-link'}
    .social-page
      = link_to 'http://twitter.com/NewsPicks' do
        = image_tag 'twitter.png', { class: 'twitter-mark'}
      = link_to 'http://www.facebook.com/NewsPicks' do
        = image_tag 'facebook.png', { class: 'facebook-mark'}
    .social-action
      .twitter-button
        = fa_icon 'twitter', { class: 'twitter-action-mark'}
        .twitter-label
          ツイート
      .facebook-button
        = fa_icon 'thumbs-up', { class: 'facebook-action-mark'}
        .facebook-label
          いいね！
    .stores
      = link_to 'https://play.google.com/store/apps/details?id=com.newspicks', { class: 'google-play'} do
        = image_tag 'google_play.png', { class: 'google-play-logo'}
      = link_to 'https://itunes.apple.com/jp/app/news-picks-sosharu-jing-jinyusumedia/id640956497?mt=8', { class: 'app-store'} do
        = image_tag 'app_store.png', { class: 'app-store-logo'}
