.header
  .col-md-1.open-menu
    = image_tag 'menu.png', {class: 'menu', id: 'menu_bar_button'}
  .col-md-1.search-box
    = form_tag(method: :get) do
      = image_tag 'glass.svg', {class: 'glass'}
      = text_field  :body, nil, {placeholder: "検索する", class: "text"}

  .col-md-4.logo
    = link_to "Old PICKS", '#', { class: 'logo-mark'}

  .col-md-2.right-items
    .self
      = image_tag 'user-image.png', {class: 'user-image'}
      .name-block
        %span.display-name 坂本 龍馬
        %span.plan アカデミック
      %span.caret
    .flag
      = image_tag 'flag.png', {class: 'flag-icon', id: 'flag_button'}
    .pick
      = image_tag 'pick.png', {class: 'pick-icon', id: 'pick_button'}

