.like-btn-wrapper
  .like-btn
    .like
      / current_user がログインしているか場合分け
      - if user_signed_in?
        / ログインユーザーがコメントに既にlikeをしている場合
        - if comment.like_user(current_user.id)
          / likeボタンがdelete機能をもつ   ※ remote true doに変えること
          = link_to unlike_path(comment.id), method: :delete, class: "like-button", id: "like-off-button" do
            / アイコン表示部分にファイルを呼び出し赤いlikeアイコンを表示
            = image_tag 'like-red.png', { class: "thumb-up-r", id: "image-#{comment.id}" }
            .count
              - if comment.like_counts == nil
                0
              - else
                = comment.like_counts
            .like-label
              Likes

        - else  # ログインユーザーがコメントにlikeをしていない場合
          = link_to like_path(comment.id), method: :post, class: "like-button", id: "like-on-button" do
            / アイコン表示部分にファイルを呼び出し灰色のlikeアイコンを表示
            = image_tag 'like-gray.png', { class: "thumb-up-g", id: "image-#{comment.id}" }
            .count
              - if comment.like_counts == nil
                0
              - else
                = comment.like_counts
            .like-label
              Likes

      - else
        = image_tag "like-gray.png", { class: 'like-icon' }
        .count
          - if comment.like_counts == nil
            0
          - else
            = comment.like_counts
        .like-label
          Likes
