= render partial: "shared/main-menu"
.container
  .side-bar
    .user
      - if user_signed_in? && @side_articles_login.present?
        .user-header
          .index-user-icon
            = link_to user_path(current_user) do
              = image_tag current_user.avatar_image.present? ? current_user.avatar_image : 'user-image.png', {class: 'index-user-icon'}
          .user-name #{current_user.name}
          .user-title
            #{current_user.user_profile}
          .follow
            = link_to user_follows_path(current_user), {class: 'follow-info'} do
              .follow-count #{current_user.follow_count}
              .follow-caption フォロー
            = link_to user_followers_path(current_user), {class: 'follower-info'} do
              .follower-count #{current_user.followers_count}
              .follower-caption フォロワー
          .time-line
            = link_to root_path do
              .time-line-caption マイニュースを作ろう
              = image_tag 'blue-arrow.png', {class: 'arrow'}
              .time-line-sub-caption 興味に合わせてカスタマイズ
        .stream_time-line
          - @side_articles_login.each do |comment|
            .stream-tile
              .picker-info
                = link_to user_path(comment.user.id), remote: true do
                  = image_tag comment.user.avatar_image.present? ? comment.user.avatar_image : 'user-image.png', {class: 'picker-icon'}
                  .picker-name
                    #{comment.user.name}
                  .picked-date
                    #{comment.before_time}
              = link_to article_path(comment.article.id) do
                .picker-comment
                  #{comment.content}
                .pick-news-info
                  = link_to article_path(comment.article.id) do
                    %span.news-title
                    #{comment.article.title}
                %span をPickしました
      - elsif user_signed_in? && @side_articles_login.empty?
        .user-header
          .index-user-icon
            = link_to user_path(current_user) do
              = image_tag current_user.avatar_image.present? ? current_user.avatar_image : 'user-image.png', {class: 'index-user-icon'}
          .user-name #{current_user.name}
          .user-title
            #{current_user.user_profile}
          .follow
            = link_to user_follows_path(current_user), {class: 'follow-info'} do
              .follow-count #{current_user.follow_count}
              .follow-caption フォロー
            = link_to user_followers_path(current_user), {class: 'follower-info'} do
              .follower-count #{current_user.followers_count}
              .follower-caption フォロワー
          .time-line
            = link_to root_path do
              .time-line-caption マイニュースを作ろう
              = image_tag 'blue-arrow.png', {class: 'arrow'}
              .time-line-sub-caption 興味に合わせてカスタマイズ
          .stream_time-line
            - @side_articles.each do |comment|
              .stream-tile
                .picker-info
                  = link_to user_path(comment.user.id), remote: true do
                    = image_tag comment.user.avatar_image.present? ? comment.user.avatar_image : 'user-image.png', {class: 'picker-icon'}
                    .picker-name
                      #{comment.user.name}
                    .picked-date
                      #{comment.before_time}
                = link_to article_path(comment.article.id) do
                  .picker-comment
                    #{comment.content}
                  .pick-news-info
                    = link_to article_path(comment.article.id) do
                      %span.news-title
                      #{comment.article.title}
                %span をPickしました

      -else
        .user-header
          .index-user-icon
            = link_to new_user_registration_path do
              = image_tag 'user-image.png', {class: '.index-user-icon'}
          .user-name No Account
          = button_to 'アカウントを作成する', new_user_registration_path, {class: 'create-account', method: :get}
          .follow
            .follow-info
              .follow-count -
              .follow-caption フォロー
            .follower-info
              .follower-count -
              .follower-caption フォロワー
          .stream_time-line
            = link_to '新規登録/ログインして,コメントを閲覧する',user_session_path, class: 'go-session'
