.user-ranking-card
  .ranking-order
    - if index == 0
      .rank-circle-1
        .rank
          = index + 1
    - elsif index == 1
      .rank-circle-2
        .rank
          = index + 1
    - elsif index == 2
      .rank-circle-3
        .rank
          = index + 1
    - else
      .rank-circle-other
        .rank
          = index + 1
  .user-cover
    = image_tag user[0].avatar_image, { class: 'user-icon' }
  .user-info
    .name-wrapper
      .username_ellipsised
        = user[0].name
    .title_ellipsised
      = user[0].company
    .likes
      .likes_detail
        合計 Liked 数:
      .likes_count
        = user[1]
  .follow
    = render partial: "follows/follow", locals: {user: user[0], follow: @follow, follower: @follower}
