.user-show-modal
  .background
  .modal-content-wrapper
    .modal-content.dialog
      = link_to user_path(user.id) do
        = image_tag 'xxx.png', { class: 'show-close-btn' }
      .user-profile-container
        .user-profile
          .detail
            = link_to user_path(user.id) do
              = image_tag user.avatar_image.present? ? user.avatar_image : 'user-image.png'
              .labels
                .user-name
                  #{user.name}
                .ellipsis-job
                  #{user.company}
                  %br
                  #{user.position}
                .extra-info
                  %span.picker-likes 総 Like 数: 0
                .profile-ellipsised
                  #{user.profile}
      .operation-section
        .tab-container
          = link_to user_path(user.id) do
            %span.tab-title Picks
          .tab-item-follows
            = link_to user_follows_path(user) do
              .count #{user.follow_count}
              .unit フォロー
          .tab-item-followers
            = link_to user_followers_path(user) do
              .count #{user.followers.count}
              .unit フォロワー
      .user-footer
        = link_to 'プロフィールをもっと見る', user_path(user), {class: 'more-profile'}
