.modal-user
  .background
  .content-wrapper
    .dialog#login
      = link_to root_path do
        = image_tag 'xxx.png', {id: 'close-btn'}
      .register-message ログイン
      .go-logon
      %span.go アカウントをお持ちでない方は
      = link_to '新規登録へ', new_user_registration_path, {class: 'login'}
      = link_to 'https://www.facebook.com/' do
        %button.register-fb
          = image_tag 'facebook.png', {class: 'fb-btn'}
          %span.facebook Facebookでログイン
      %br
      = link_to 'https://twitter.com/?lang=ja' do
        %button.register-tw
          = image_tag 'twitter.png', {class: 'tw-btn'}
          %span.twetter Twitterでログイン
      .or
        %div または
      = render 'layouts/notifications'

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '登録したメールアドレス または Oldpicks ID'
        .field
          %br/
          = f.password_field :password, autocomplete: "off", placeholder: 'パスワード'

          .actions
          = f.submit "ログイン", id: 'submit'

          .forget-passward
          = link_to 'パスワードをお忘れの方はこちら', new_user_password_path, {id: 'go-password'}
